.l-header {
  background-color: $background_gray;
  height: 169px;
  @include flexbox;

  //@include hover-focus{
  //  cursor: pointer;
  //}

  @media #{$max-xs} {
    background-color: red;
  }

  &_menu{

  }


}


